AdvancedLights.json
[{"id":"f210a3b2.470b","type":"tab","label":"Advanced Lights","disabled":false,"info":""},{"id":"1ca5aa28.5380e6","type":"debug","z":"f210a3b2.470b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1370,"y":280,"wires":[]},{"id":"18bc4c4c.304f54","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":240,"wires":[["fbc392e1.ef329"]]},{"id":"5f890bde.4ffc94","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":400,"wires":[["2880e68b.eae602"]]},{"id":"d74b44ae.77fca8","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":180,"y":560,"wires":[["f01740b2.bf971"]]},{"id":"47357b14.86ef1c","type":"comment","z":"f210a3b2.470b","name":"Setups up a Scene for a group of lights","info":"Press the Search icon and select a scene.\n\nAny input will trigger this flow. it does not matter what the source input is\n\n\nConnect to the lights you want to change.\n","x":515,"y":70,"wires":[]},{"id":"b6a3b43a.24aad8","type":"comment","z":"f210a3b2.470b","name":"Can you make is easy setup a scene that crosses multiple lights","info":"Blah blah....","x":242,"y":25,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"89305400.15765","type":"comment","z":"f210a3b2.470b","name":"Can you make is easy turn lights on and off on other tables","info":"Blah blah....","x":250,"y":860,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"80acafd8.29a2f","type":"comment","z":"f210a3b2.470b","name":"Make and API to lights on and off on other tables","info":"Blah blah....","x":219,"y":950,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"898e4be8.6963d","type":"comment","z":"f210a3b2.470b","name":"Have light react to an outside alert","info":"React the the following states\n\nLowAlert - Stand Message that will happen all the time\n\nMedAlert\n\nHighAlert\n\nMeltDownAlert","x":185,"y":1038,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"23ce4dc1.2d04fa","type":"hue-bridge-node","z":"f210a3b2.470b","name":"","bridge":"cfa76edf.ab3ec","autoupdates":true,"x":1040,"y":100,"wires":[[]]},{"id":"fbc392e1.ef329","type":"hue-scene","z":"f210a3b2.470b","name":"Savanna sunset","bridge":"cfa76edf.ab3ec","sceneid":"huZ0oT9lVXax2Eo","x":560,"y":180,"wires":[["25153f4a.23b448","2c39420a.8357e6","eacfd54d.697cb"]]},{"id":"25153f4a.23b448","type":"hue-light","z":"f210a3b2.470b","name":"Lab Light 1","bridge":"cfa76edf.ab3ec","lightid":"1","colornamer":true,"x":950,"y":220,"wires":[["1ca5aa28.5380e6"]]},{"id":"2c39420a.8357e6","type":"hue-light","z":"f210a3b2.470b","name":"Lab Light 2","bridge":"cfa76edf.ab3ec","lightid":"2","colornamer":true,"x":950,"y":300,"wires":[["1ca5aa28.5380e6"]]},{"id":"eacfd54d.697cb","type":"hue-light","z":"f210a3b2.470b","name":"Lab Light 3","bridge":"cfa76edf.ab3ec","lightid":"3","colornamer":true,"x":950,"y":380,"wires":[["1ca5aa28.5380e6"]]},{"id":"2880e68b.eae602","type":"hue-scene","z":"f210a3b2.470b","name":"Energize","bridge":"cfa76edf.ab3ec","sceneid":"iMXdu5R8n4hgfnt","x":560,"y":320,"wires":[["25153f4a.23b448","2c39420a.8357e6","eacfd54d.697cb"]]},{"id":"f01740b2.bf971","type":"hue-scene","z":"f210a3b2.470b","name":"Tropical twilight","bridge":"cfa76edf.ab3ec","sceneid":"ikwlXC9iZCHoggR","x":560,"y":460,"wires":[["25153f4a.23b448","2c39420a.8357e6","eacfd54d.697cb"]]},{"id":"46fa8e41.5c5ed","type":"hue-scene","z":"f210a3b2.470b","name":"Arctic aurora","bridge":"cfa76edf.ab3ec","sceneid":"Iog4Adf8YGSkASo","x":550,"y":640,"wires":[["eacfd54d.697cb","2c39420a.8357e6","25153f4a.23b448"]]},{"id":"749de560.06c74c","type":"inject","z":"f210a3b2.470b","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":720,"wires":[["46fa8e41.5c5ed"]]},{"id":"6a0f1f17.cb6ea8","type":"ui_button","z":"f210a3b2.470b","name":"","group":"47a7272c.5208c","order":2,"width":0,"height":0,"passthru":false,"label":"Savanna Sunset","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":200,"y":180,"wires":[["fbc392e1.ef329"]]},{"id":"fd3bbb4d.b474e8","type":"ui_button","z":"f210a3b2.470b","name":"","group":"47a7272c.5208c","order":5,"width":0,"height":0,"passthru":false,"label":"Energize","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":160,"y":320,"wires":[["2880e68b.eae602"]]},{"id":"8ee90829.7f5d38","type":"ui_button","z":"f210a3b2.470b","name":"","group":"47a7272c.5208c","order":3,"width":0,"height":0,"passthru":false,"label":"Tropical Twighlight","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":190,"y":480,"wires":[["f01740b2.bf971"]]},{"id":"8579eb40.913df","type":"ui_button","z":"f210a3b2.470b","name":"","group":"47a7272c.5208c","order":4,"width":0,"height":0,"passthru":false,"label":"Artic Aurora","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":150,"y":640,"wires":[["46fa8e41.5c5ed"]]},{"id":"cfa76edf.ab3ec","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"mfKumeEwL-bJi0h8B6EwJk21pV711CEnM3I7JgUF","interval":"3000"},{"id":"47a7272c.5208c","type":"ui_group","z":"","name":"Scene","tab":"cf071e1c.440c3","order":2,"disp":true,"width":"6","collapse":false},{"id":"cf071e1c.440c3","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false}]