BasicLights.json
[{"id":"a8f39eeb.1cc6d","type":"tab","label":"Basic Lights","disabled":false,"info":""},{"id":"79914c9b.de4b94","type":"debug","z":"a8f39eeb.1cc6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1073,"y":709,"wires":[]},{"id":"bd08ef57.20382","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":768,"wires":[["49d967fe.7528a","5f5b5e1f.1fd4e","8146692b.077768"]]},{"id":"6c45fe69.bd4a","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":219,"y":834,"wires":[["49d967fe.7528a","5f5b5e1f.1fd4e","8146692b.077768"]]},{"id":"3ac3aee5.056d2a","type":"hue-bridge-node","z":"a8f39eeb.1cc6d","name":"Lab Bridge","bridge":"bd87b6c0.f8f0b8","autoupdates":true,"x":354,"y":113,"wires":[[]]},{"id":"49d967fe.7528a","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 1","bridge":"bd87b6c0.f8f0b8","lightid":"1","colornamer":true,"x":681,"y":675,"wires":[["79914c9b.de4b94"]]},{"id":"a0bf517a.738f6","type":"comment","z":"a8f39eeb.1cc6d","name":"Step 1 - Initialize Bridge","info":"The first thing you need to do is intialize the bridge.\n\nJust simply ....\n\n\nThen you need to select what light you want to address\n","x":552,"y":114,"wires":[],"icon":"node-red/hash.svg"},{"id":"57983d84.d1df3c","type":"comment","z":"a8f39eeb.1cc6d","name":"Step 2 - Select Light","info":"Do these steps","x":750,"y":168,"wires":[],"icon":"node-red/hash.svg"},{"id":"794af362.723e0c","type":"comment","z":"a8f39eeb.1cc6d","name":"To Turn Light On/Off","info":"Just send a boolean message the is True for On and False for Off\n\n","x":143,"y":214,"wires":[]},{"id":"5f5b5e1f.1fd4e","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 2","bridge":"bd87b6c0.f8f0b8","lightid":"2","colornamer":true,"x":685,"y":797,"wires":[["79914c9b.de4b94"]]},{"id":"8146692b.077768","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 3","bridge":"bd87b6c0.f8f0b8","lightid":"3","colornamer":true,"x":688,"y":884,"wires":[["79914c9b.de4b94"]]},{"id":"1bca1e26.fbac6a","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":344,"y":213,"wires":[["cf16b0ff.fba84"]]},{"id":"cf16b0ff.fba84","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 1","bridge":"bd87b6c0.f8f0b8","lightid":"1","colornamer":true,"x":727,"y":210,"wires":[["ff0991c0.eda16"]]},{"id":"ff0991c0.eda16","type":"debug","z":"a8f39eeb.1cc6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1116,"y":209,"wires":[]},{"id":"b1636287.824bf","type":"comment","z":"a8f39eeb.1cc6d","name":"To Turn Light On/Off","info":"Just send a bollean message the is True for On and False for Off\n\n","x":144,"y":389,"wires":[]},{"id":"4fb3730b.7d193c","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":197,"y":443,"wires":[["c59be411.4f95e8"]]},{"id":"2c573d8c.577c3a","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 1","bridge":"bd87b6c0.f8f0b8","lightid":"1","colornamer":true,"x":821,"y":445,"wires":[["69caf6c0.ab3638"]]},{"id":"69caf6c0.ab3638","type":"debug","z":"a8f39eeb.1cc6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1167,"y":444,"wires":[]},{"id":"90040c83.df8738","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":340,"y":269,"wires":[["cf16b0ff.fba84"]]},{"id":"c59be411.4f95e8","type":"switch","z":"a8f39eeb.1cc6d","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"ON","vt":"str"},{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"OFF","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"false","repair":false,"outputs":4,"x":435,"y":447,"wires":[["f506a56e.5ea208"],["f506a56e.5ea208"],["45842d68.298bc4"],["45842d68.298bc4"]]},{"id":"f506a56e.5ea208","type":"change","z":"a8f39eeb.1cc6d","name":"Set Msg to True","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":621,"y":408,"wires":[["2c573d8c.577c3a"]]},{"id":"45842d68.298bc4","type":"change","z":"a8f39eeb.1cc6d","name":"Set Msg to False","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":629,"y":463,"wires":[["2c573d8c.577c3a"]]},{"id":"17f67872.595438","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":195,"y":497,"wires":[["c59be411.4f95e8"]]},{"id":"af1968d2.313618","type":"comment","z":"a8f39eeb.1cc6d","name":"Split based on input","info":"Here we take a look at the message ...","x":482,"y":516,"wires":[]},{"id":"bf0386bd.501d8","type":"comment","z":"a8f39eeb.1cc6d","name":"Can you make is easy to turn a light bulb on and off","info":"Blah blah....","x":238,"y":66,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"28012ee7.a6a95a","type":"comment","z":"a8f39eeb.1cc6d","name":"Can you make is easy turn multiple lights on or off","info":"Blah blah....","x":221,"y":647,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"85225169.f29a9","type":"comment","z":"a8f39eeb.1cc6d","name":"Can you make is easy turn lights on and off on other tables","info":"Blah blah....","x":260,"y":1214,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"327dd684.6120b2","type":"comment","z":"a8f39eeb.1cc6d","name":"Can you change the color of a light","info":"Blah blah....","x":222,"y":972,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"e2876606.a1e9b8","type":"comment","z":"a8f39eeb.1cc6d","name":"Can you change the brightness of a light","info":"Blah blah....","x":242,"y":1035,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"6a9b0b4d.633cf4","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":125,"y":1086,"wires":[["44ca3e38.5fb858"]]},{"id":"85da1bbd.6b0828","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 1","bridge":"bd87b6c0.f8f0b8","lightid":"1","colornamer":true,"x":634,"y":1084,"wires":[["d3f3c5a9.e33a4"]]},{"id":"d3f3c5a9.e33a4","type":"debug","z":"a8f39eeb.1cc6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1023,"y":1083,"wires":[]},{"id":"6e163d66.33632c","type":"inject","z":"a8f39eeb.1cc6d","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":138,"y":1153,"wires":[["24e55356.0ea154"]]},{"id":"44ca3e38.5fb858","type":"change","z":"a8f39eeb.1cc6d","name":"Set Brightness full","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"100","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":1085,"wires":[["85da1bbd.6b0828"]]},{"id":"24e55356.0ea154","type":"change","z":"a8f39eeb.1cc6d","name":"Set Brightness 30","rules":[{"t":"set","p":"payload.brightness","pt":"msg","to":"30","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":324,"y":1133,"wires":[["85da1bbd.6b0828"]]},{"id":"c4539759.d31888","type":"function","z":"a8f39eeb.1cc6d","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":628,"y":1173,"wires":[[]]},{"id":"901c91ce.222ec8","type":"debug","z":"a8f39eeb.1cc6d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1090,"y":1440,"wires":[]},{"id":"9ecba994.3fb47","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 1","bridge":"bd87b6c0.f8f0b8","lightid":"1","colornamer":true,"x":698,"y":1406,"wires":[["901c91ce.222ec8"]]},{"id":"f6b56769.0a8498","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 2","bridge":"bd87b6c0.f8f0b8","lightid":"2","colornamer":true,"x":702,"y":1528,"wires":[["901c91ce.222ec8"]]},{"id":"30b56ab3.15e1ee","type":"hue-light","z":"a8f39eeb.1cc6d","name":"Lab Light 3","bridge":"bd87b6c0.f8f0b8","lightid":"3","colornamer":true,"x":705,"y":1615,"wires":[["901c91ce.222ec8"]]},{"id":"6ce7ab9a.845cec","type":"ui_switch","z":"a8f39eeb.1cc6d","name":"","label":"Lab Lights","tooltip":"","group":"47a7272c.5208c","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1680,"wires":[["9ecba994.3fb47","f6b56769.0a8498","30b56ab3.15e1ee"]]},{"id":"a0fce7a5.a1f8b","type":"comment","z":"a8f39eeb.1cc6d","name":"Add lights to the Dashboard","info":"","x":620,"y":1300,"wires":[]},{"id":"c56850ac.67a79","type":"ui_switch","z":"a8f39eeb.1cc6d","name":"","label":"Lab Light 1","tooltip":"","group":"2b3cd997.a64436","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1400,"wires":[["9ecba994.3fb47"]]},{"id":"1b5a410a.e0c8df","type":"ui_switch","z":"a8f39eeb.1cc6d","name":"","label":"Lab Light 2","tooltip":"","group":"2b3cd997.a64436","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1460,"wires":[["f6b56769.0a8498"]]},{"id":"cf2b1f52.45923","type":"ui_switch","z":"a8f39eeb.1cc6d","name":"","label":"Lab Light 3","tooltip":"","group":"2b3cd997.a64436","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":1540,"wires":[["30b56ab3.15e1ee"]]},{"id":"bd87b6c0.f8f0b8","type":"hue-bridge","z":"","name":"Lab hub","bridge":"10.0.0.27","key":"W2d8jOSjKZGiwn18hRo76GABWNyo7HSakSmOgQrM","interval":"3000"},{"id":"47a7272c.5208c","type":"ui_group","z":"","name":"Scene","tab":"cf071e1c.440c3","order":2,"disp":true,"width":"6","collapse":false},{"id":"2b3cd997.a64436","type":"ui_group","z":"","name":"Buttons","tab":"cf071e1c.440c3","disp":true,"width":"6","collapse":false},{"id":"cf071e1c.440c3","type":"ui_tab","z":"","name":"Input","icon":"dashboard","order":3,"disabled":false,"hidden":false}]