displayIP.json
[{"id":"6975f0da.09865","type":"inject","z":"82257d14.789d5","name":"","topic":"","payload":"0,0,red,0,7,#00ff00,7,7,yellow,7,0,0,0,255","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":113,"y":249,"wires":[["b941c3a.434424"]]},{"id":"b8bf6cc8.05729","type":"rpi-sensehat out","z":"82257d14.789d5","name":"","x":1019,"y":419,"wires":[]},{"id":"54144b0c.696b64","type":"hostip","z":"82257d14.789d5","name":"Host IP","x":672,"y":341,"wires":[["63d31d1f.8cc604"]]},{"id":"63d31d1f.8cc604","type":"function","z":"82257d14.789d5","name":"Host IP Address","func":"msg.payload = \"R180\\n\"+msg.payload[0].address\nreturn msg;","outputs":1,"noerr":0,"x":729,"y":470,"wires":[["b8bf6cc8.05729"]]},{"id":"74e06686.d97668","type":"start-up-trigger","z":"82257d14.789d5","x":137,"y":135,"wires":[["b941c3a.434424"]]},{"id":"b941c3a.434424","type":"trigger","z":"82257d14.789d5","op1":"","op2":"","op1type":"pay","op2type":"pay","duration":"20","extend":false,"units":"s","reset":"","bytopic":"all","name":"","x":406,"y":212,"wires":[["54144b0c.696b64"]]},{"id":"6172803c.ac17f","type":"rpi-sensehat in","z":"82257d14.789d5","name":"","motion":false,"env":false,"stick":true,"x":65,"y":424,"wires":[["98360be6.090f08","8abf86e8.6c23e8"]]},{"id":"98360be6.090f08","type":"change","z":"82257d14.789d5","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":405,"y":338,"wires":[["54144b0c.696b64"]]},{"id":"8abf86e8.6c23e8","type":"debug","z":"82257d14.789d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":387,"y":493,"wires":[]}]