flows_raspberrypi.json
[{"id":"a3feeb82.590498","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f68b7116.e7d","type":"inject","z":"a3feeb82.590498","name":"","topic":"","payload":"*,*,blue","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":250,"y":180,"wires":[["213fc89b.7750f8"]]},{"id":"ab85ab82.da4228","type":"debug","z":"a3feeb82.590498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":560,"y":380,"wires":[]},{"id":"8543f790.673408","type":"rpi-sensehat in","z":"a3feeb82.590498","name":"","motion":true,"env":false,"stick":true,"x":240,"y":280,"wires":[["ab85ab82.da4228"]]},{"id":"213fc89b.7750f8","type":"rpi-sensehat out","z":"a3feeb82.590498","name":"","x":820,"y":260,"wires":[]}]