sensehat.json
[{"id":"cd88a9af.930968","type":"rpi-sensehat in","z":"c62bf4fb.c109d8","name":"","motion":false,"env":true,"stick":false,"x":180,"y":160,"wires":[["206bd763.1f99e8","94e43047.8838","2a14e7db.354718","d323a808.2966d8","576f3b27.0073d4"]]},{"id":"206bd763.1f99e8","type":"debug","z":"c62bf4fb.c109d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":160,"wires":[]},{"id":"94e43047.8838","type":"rpi-sensehat out","z":"c62bf4fb.c109d8","name":"","x":430,"y":220,"wires":[]},{"id":"2a14e7db.354718","type":"debug","z":"c62bf4fb.c109d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.humidity","targetType":"msg","x":460,"y":120,"wires":[]},{"id":"d323a808.2966d8","type":"debug","z":"c62bf4fb.c109d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","targetType":"msg","x":470,"y":80,"wires":[]},{"id":"576f3b27.0073d4","type":"debug","z":"c62bf4fb.c109d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.pressure","targetType":"msg","x":460,"y":40,"wires":[]}]