Sense-Hue.json
[{"id":"39c939c7.b7f976","type":"tab","label":"Sense & Hue","disabled":false,"info":""},{"id":"18d76d9f.e99552","type":"rpi-sensehat in","z":"39c939c7.b7f976","name":"","motion":false,"env":true,"stick":false,"x":180,"y":160,"wires":[["f8b9081d.e97508","681b3711.8229f8","4e1a75be.21eb7c","4439d0c5.2cc92","c1a2c797.412d08"]]},{"id":"f8b9081d.e97508","type":"debug","z":"39c939c7.b7f976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":430,"y":160,"wires":[]},{"id":"681b3711.8229f8","type":"rpi-sensehat out","z":"39c939c7.b7f976","name":"","x":530,"y":200,"wires":[]},{"id":"4e1a75be.21eb7c","type":"debug","z":"39c939c7.b7f976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.humidity","targetType":"msg","x":460,"y":120,"wires":[]},{"id":"4439d0c5.2cc92","type":"debug","z":"39c939c7.b7f976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.temperature","targetType":"msg","x":470,"y":80,"wires":[]},{"id":"c1a2c797.412d08","type":"debug","z":"39c939c7.b7f976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload.pressure","targetType":"msg","x":460,"y":40,"wires":[]},{"id":"b78a8064.6c211","type":"hue-light","z":"39c939c7.b7f976","name":"","bridge":"ee9f09af.fef1c8","lightid":"2","colornamer":true,"x":400,"y":380,"wires":[["23e4c1e2.ec1c9e"]]},{"id":"58876c5e.0599b4","type":"inject","z":"39c939c7.b7f976","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":300,"wires":[[]]},{"id":"62b8d91c.07cc88","type":"debug","z":"39c939c7.b7f976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":300,"wires":[]},{"id":"b0547115.275e3","type":"inject","z":"39c939c7.b7f976","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":380,"wires":[["b78a8064.6c211"]]},{"id":"23e4c1e2.ec1c9e","type":"debug","z":"39c939c7.b7f976","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":600,"y":380,"wires":[]},{"id":"2ab561f7.f2f07e","type":"comment","z":"39c939c7.b7f976","name":"Environmental Payloads","info":"","x":140,"y":120,"wires":[]},{"id":"ee9f09af.fef1c8","type":"hue-bridge","z":"","name":"Philips hue","bridge":"192.168.50.42","key":"wgxufe3r-jxZ6H22OWnUIA05rKn9fHHYXSrx2JgJ","interval":"3000"}]