Twitter-dtbdiff.json
[{"id":"20d47b72.b205f4","type":"inject","z":"a3feeb82.590498","name":"Connection Profiles","topic":"","payload":"AT+CGDCONT?","payloadType":"str","repeat":"","crontab":"","once":false,"x":130,"y":500,"wires":[[]]},{"id":"17b5c7b.91dca38","type":"twitter in","z":"a3feeb82.590498","twitter":"","tags":"#daretobedifferent","user":"false","name":"daretobedifferent","inputs":0,"x":130,"y":340,"wires":[["26ea1a9f.83fc56","2fb0e227.814cbe","664be3b1.bcf9ac","75e45450.fc17ec"]]},{"id":"26ea1a9f.83fc56","type":"debug","z":"a3feeb82.590498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":340,"wires":[]},{"id":"2fb0e227.814cbe","type":"debug","z":"a3feeb82.590498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.user.screen_name","targetType":"msg","x":780,"y":400,"wires":[]},{"id":"664be3b1.bcf9ac","type":"debug","z":"a3feeb82.590498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":730,"y":460,"wires":[]},{"id":"75e45450.fc17ec","type":"function","z":"a3feeb82.590498","name":"Send twitter reply","func":"var tweet = msg.tweet;\nvar name = tweet.user.screen_name;\nvar nameID = tweet.id_str;\nvar reply = \"@\" + name + ' ' + 'daring to be different';\nvar params = {status: reply, in_reply_to_status_id: nameID};\nmsg.params = params;\nmsg.payload = reply;\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":280,"wires":[["5500dff2.10b22"]]},{"id":"5500dff2.10b22","type":"debug","z":"a3feeb82.590498","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":730,"y":280,"wires":[]}]