twitter-username.json
[{"id":"5fd57898.0f7418","type":"twitter in","z":"c62bf4fb.c109d8","twitter":"","tags":"#fail","user":"false","name":"","inputs":0,"x":140,"y":480,"wires":[["f2b3e7b4.eb64e8","a75ec8da.b62c78","2f634209.45b40e"]]},{"id":"63b3a837.4e5078","type":"debug","z":"c62bf4fb.c109d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":490,"y":480,"wires":[]},{"id":"2f634209.45b40e","type":"function","z":"c62bf4fb.c109d8","name":"","func":"var tweet = msg.tweet;\nvar name = tweet.user.screen_name;\nvar nameID = tweet.id.str;\nmsg.payload = tweet.user.screen_name;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":480,"wires":[["63b3a837.4e5078"]]},{"id":"a75ec8da.b62c78","type":"debug","z":"c62bf4fb.c109d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.user.screen_name","targetType":"msg","x":420,"y":560,"wires":[]},{"id":"f2b3e7b4.eb64e8","type":"debug","z":"c62bf4fb.c109d8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":370,"y":600,"wires":[]}]