twitter-old.json
[{"id":"1a73343c.cfb74c","type":"tab","label":"Twitter","disabled":false,"info":""},{"id":"dbefdf4d.b93fb","type":"comment","z":"1a73343c.cfb74c","name":"*Waiting for Applicaion API approval from Twitter","info":"","x":1268,"y":172,"wires":[]},{"id":"fb1310e1.0bb7e8","type":"comment","z":"1a73343c.cfb74c","name":"Can you search for all Tweets that include SUSE","info":"Blah blah....","x":258,"y":170,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"c54023da.744cd8","type":"comment","z":"1a73343c.cfb74c","name":"Can you limit yout notification to just Trending Tweets about one of your customers?","info":"Blah blah....","x":364,"y":660,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"aafcb801.814cc8","type":"comment","z":"1a73343c.cfb74c","name":"Can you display the Tweets that include SUSE","info":"Blah blah....","x":249,"y":326,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"d615cf7d.cf9158","type":"comment","z":"1a73343c.cfb74c","name":"Can you display the Tweets that include you customers","info":"Blah blah....","x":279,"y":459,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"b70d45ad.0aeef8","type":"comment","z":"1a73343c.cfb74c","name":"Can you search for all Tweets that include your top customers?","info":"Blah blah....","x":309,"y":402,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"5869d1a1.586198","type":"comment","z":"1a73343c.cfb74c","name":"Can you limit the amount of tweets you see","info":"Watching all of the tweet can be overwheming.","x":251,"y":591,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"8aeebb1b.570698","type":"comment","z":"1a73343c.cfb74c","name":"Can you change the color of a light bulb based on what company  was just tweeted about","info":"As a new tweet comes in ","x":392,"y":527,"wires":[],"icon":"font-awesome/fa-question-circle"},{"id":"dd4c62e.4cc2b2","type":"twitter in","z":"1a73343c.cfb74c","twitter":"","tags":"#fail","user":"false","name":"","inputs":0,"x":570,"y":220,"wires":[["4ad0691c.7935c8","45229d1f.8858ac","55c589a6.7e776"]]},{"id":"4bcbc319.21df54","type":"debug","z":"1a73343c.cfb74c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":920,"y":220,"wires":[]},{"id":"55c589a6.7e776","type":"function","z":"1a73343c.cfb74c","name":"","func":"var tweet = msg.tweet;\nvar name = tweet.user.screen_name;\nvar nameID = tweet.id.str;\nmsg.payload = tweet.user.screen_name;\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":220,"wires":[["4bcbc319.21df54"]]},{"id":"45229d1f.8858ac","type":"debug","z":"1a73343c.cfb74c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet.user.screen_name","targetType":"msg","x":850,"y":300,"wires":[]},{"id":"4ad0691c.7935c8","type":"debug","z":"1a73343c.cfb74c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"tweet","targetType":"msg","x":800,"y":340,"wires":[]}]