UI-SensorGauge.json
[{"id":"9ef36587.474278","type":"tab","label":"Sensor Gauge","disabled":false,"info":""},{"id":"fcaf7fa5.fc96c8","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":1,"width":0,"height":0,"gtype":"gage","title":"Temp in F","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"212","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1033.9091033935547,"y":265.00000199404633,"wires":[]},{"id":"7f000ad3.7f42a4","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":333.0909118652344,"y":264.6363525390625,"wires":[["10637a08.613376"]]},{"id":"f839207f.bd2e38","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1042,"y":353.9090881347656,"wires":[]},{"id":"83c61b3b.b4c28","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":3,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"units","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":895.999984741211,"y":518.9999714764682,"wires":[]},{"id":"cb0038ad.93822","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":364.1817893981935,"y":522.6363240155307,"wires":[["64d12bfa.657434"]]},{"id":"64d12bfa.657434","type":"change","z":"9ef36587.474278","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":637.1818084716798,"y":524.9090596112338,"wires":[["83c61b3b.b4c28","b5e18971.413b48"]]},{"id":"b5e18971.413b48","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":885.0908813476562,"y":629.9090576171875,"wires":[]},{"id":"cdf3e28f.ddc44","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":4,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value | number:1}}","min":0,"max":"6000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":925.8181953430176,"y":746,"wires":[]},{"id":"59f69e08.e83ee8","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":394,"y":749.6363525390625,"wires":[["15d56c33.2d6aac"]]},{"id":"15d56c33.2d6aac","type":"change","z":"9ef36587.474278","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":667.0000190734863,"y":751.9090881347656,"wires":[["cdf3e28f.ddc44","8054c14e.93b94"]]},{"id":"8054c14e.93b94","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":914.9090919494628,"y":856.9090861407193,"wires":[]},{"id":"3d35c475.ec57ac","type":"comment","z":"9ef36587.474278","name":"To view Gauges go to ip:1880/ui","info":"This is a nother note\n[https://10.0.0.150]()","x":1330,"y":40,"wires":[]},{"id":"dc10597d.2a387","type":"ui_gauge","z":"9ef36587.474278","name":"","group":"fc2ac9ae.023d88","order":2,"width":0,"height":0,"gtype":"gage","title":"Temp in C","label":"Degrees","format":"{{value | number:1}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":849,"y":55,"wires":[]},{"id":"29d854cc.28506c","type":"rpi-sensehat in","z":"9ef36587.474278","name":"","motion":false,"env":true,"stick":false,"x":317.1818046569824,"y":58.6363525390625,"wires":[["3ea986f7.790e3a"]]},{"id":"3ea986f7.790e3a","type":"change","z":"9ef36587.474278","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":584.1817932128906,"y":57.909088134765625,"wires":[["dc10597d.2a387","b8dbf331.52ab78"]]},{"id":"b8dbf331.52ab78","type":"debug","z":"9ef36587.474278","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":838.0908966064452,"y":165.9090861407193,"wires":[]},{"id":"10637a08.613376","type":"change","z":"9ef36587.474278","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":605.0908813476562,"y":263.9090881347656,"wires":[["f6073b01.b20208"]]},{"id":"f6073b01.b20208","type":"function","z":"9ef36587.474278","name":"Change to F","func":"msg.payload  = (msg.payload*1.8) + 32;\nreturn msg;","outputs":1,"noerr":0,"x":855,"y":265,"wires":[["fcaf7fa5.fc96c8","f839207f.bd2e38"]]},{"id":"e1018734.ea091","type":"comment","z":"9ef36587.474278","name":"","info":"","x":983,"y":56,"wires":[]},{"id":"fc2ac9ae.023d88","type":"ui_group","z":"","name":"Local Env","tab":"c495ebb1.9e9cc","order":1,"disp":true,"width":"6","collapse":false},{"id":"c495ebb1.9e9cc","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]