sensehat/SH-basic-input.json
[{"id":"82257d14.789d5","type":"tab","label":"Basic input","disabled":false,"info":""},{"id":"b8bf6cc8.05729","type":"rpi-sensehat out","z":"82257d14.789d5","name":"","x":1430,"y":500,"wires":[]},{"id":"54144b0c.696b64","type":"hostip","z":"82257d14.789d5","name":"Host IP","x":800,"y":280,"wires":[["63d31d1f.8cc604"]]},{"id":"63d31d1f.8cc604","type":"function","z":"82257d14.789d5","name":"Host IP Address","func":"msg.payload = \"R180\\n\"+msg.payload[0].address\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":400,"wires":[["b8bf6cc8.05729"]]},{"id":"6172803c.ac17f","type":"rpi-sensehat in","z":"82257d14.789d5","name":"","motion":false,"env":false,"stick":true,"x":180,"y":500,"wires":[["8abf86e8.6c23e8","52e05491.f5ea54"]]},{"id":"8abf86e8.6c23e8","type":"debug","z":"82257d14.789d5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":450,"y":380,"wires":[]},{"id":"8cb93ef0.39ae08","type":"comment","z":"82257d14.789d5","name":"Press Button for IP address","info":"","x":520,"y":100,"wires":[]},{"id":"3125aae2.a0784e","type":"comment","z":"82257d14.789d5","name":"Flip Display rightside up","info":"","x":1140,"y":340,"wires":[]},{"id":"fac40208.d575e8","type":"comment","z":"82257d14.789d5","name":"Read button press","info":"","x":210,"y":220,"wires":[]},{"id":"6bfc617a.764738","type":"comment","z":"82257d14.789d5","name":"get current IP address","info":"","x":500,"y":180,"wires":[]},{"id":"52e05491.f5ea54","type":"switch","z":"82257d14.789d5","name":"","property":"payload.key","propertyType":"msg","rules":[{"t":"eq","v":"ENTER","vt":"str"},{"t":"eq","v":"UP","vt":"str"},{"t":"eq","v":"DOWN","vt":"str"},{"t":"eq","v":"LEFT","vt":"str"},{"t":"eq","v":"RIGHT","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":450,"y":500,"wires":[["54144b0c.696b64"],["131d3e73.229282"],["1d5ac05b.d12188"],["b8dfaa8e.45913"],["6400a5a2.05a2f4"]]},{"id":"131d3e73.229282","type":"change","z":"82257d14.789d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"UP","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":440,"wires":[["b8bf6cc8.05729"]]},{"id":"1d5ac05b.d12188","type":"change","z":"82257d14.789d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Down","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":500,"wires":[["b8bf6cc8.05729"]]},{"id":"b8dfaa8e.45913","type":"change","z":"82257d14.789d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Left","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":560,"wires":[["b8bf6cc8.05729"]]},{"id":"6400a5a2.05a2f4","type":"change","z":"82257d14.789d5","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Right","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":620,"wires":[["b8bf6cc8.05729"]]}]