sensehat/SH-basicDisplay.json
[{"id":"d195b92a.45c1a","type":"tab","label":"Basic Display","disabled":false,"info":""},{"id":"abc549c2.cedf1","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":150,"wires":[["c36ff9c7.366d9"]]},{"id":"c36ff9c7.366d9","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":542.7272727272726,"y":150,"wires":[]},{"id":"29a60737.155f5","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":128.1818084716797,"y":265.45452880859375,"wires":[["361e0f8b.6786d"]]},{"id":"ae45cc1d.d5d6e8","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":540.9090811989523,"y":265.45452880859375,"wires":[]},{"id":"361e0f8b.6786d","type":"change","z":"d195b92a.45c1a","name":"Blue Text","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":323.6363716125488,"y":266.3636465072632,"wires":[["ae45cc1d.d5d6e8"]]},{"id":"eaa6a81d.4ccdc","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":108.18181610107422,"y":393.6363525390625,"wires":[["8f16ff37.b7bca8"]]},{"id":"69c542f0.feb794","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":602.7272567749023,"y":393.6363639831543,"wires":[]},{"id":"8f16ff37.b7bca8","type":"change","z":"d195b92a.45c1a","name":"Purple Text Slow Speed","rules":[{"t":"set","p":"color","pt":"msg","to":"purple","tot":"str"},{"t":"set","p":"speed","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":353.63637924194336,"y":394.54547023773193,"wires":[["69c542f0.feb794"]]},{"id":"4b0be647.9f4f68","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":99.09090423583984,"y":510,"wires":[["33250135.bfc756"]]},{"id":"5f6035dc.3db29c","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":593.636344909668,"y":510.0000114440918,"wires":[]},{"id":"33250135.bfc756","type":"change","z":"d195b92a.45c1a","name":"Red Text Slow Fast","rules":[{"t":"set","p":"color","pt":"msg","to":"red","tot":"str"},{"t":"set","p":"speed","pt":"msg","to":"5","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":324.545467376709,"y":510.90911769866943,"wires":[["5f6035dc.3db29c"]]},{"id":"7f2984b0.75e9ec","type":"inject","z":"d195b92a.45c1a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":118,"y":617,"wires":[["ab3f295f.b7f4f8"]]},{"id":"72fb1d89.b5d91c","type":"rpi-sensehat out","z":"d195b92a.45c1a","name":"","x":919.727294921875,"y":617,"wires":[]},{"id":"ab3f295f.b7f4f8","type":"change","z":"d195b92a.45c1a","name":"Blue Text","rules":[{"t":"set","p":"color","pt":"msg","to":"blue","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":313.45456314086914,"y":617.9091176986694,"wires":[["8ccd59b3.60085"]]},{"id":"8ccd59b3.60085","type":"function","z":"d195b92a.45c1a","name":"Rotate Text 180 degrees","func":"msg.payload = \"R180\\n\"+msg.payload\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":617,"wires":[["72fb1d89.b5d91c"]]},{"id":"397f6065.beead8","type":"comment","z":"d195b92a.45c1a","name":"You can just copy this code to display text","info":"Replace the inject node with any node that generates a message\n\n\nAny item that is assigned to msg.property is displayed","x":861,"y":149,"wires":[]},{"id":"5a3b6e9e.9d96f8","type":"comment","z":"d195b92a.45c1a","name":"Here are a list of valid colors","info":"red\nblue\ngreen\npurple\norange\n...","x":832,"y":260,"wires":[]},{"id":"1e490269.e33e9e","type":"comment","z":"d195b92a.45c1a","name":"How to adjust time","info":"You can adjust time by assigning a number 1-5.\n1 is the slowest and 5 is the fastest","x":830,"y":391,"wires":[]},{"id":"e71674a0.fb0678","type":"comment","z":"d195b92a.45c1a","name":"Info on how to Rotate the screen","info":"","x":1226,"y":620,"wires":[]},{"id":"2a9458bb.de5308","type":"comment","z":"d195b92a.45c1a","name":"Create a Message with diffrent colored background","info":"Can you make is easy turn lights on and off on other tables\n\nMake sure the Display goes back to black after the message is displayed\n","x":224,"y":709,"wires":[],"icon":"font-awesome/fa-question-circle"}]