sensehat/SH-displayAlert.json
[{"id":"7d07d4ce.4703c4","type":"tab","label":"Display Alert","disabled":false,"info":""},{"id":"dc639f22.140a1","type":"rpi-sensehat out","z":"7d07d4ce.4703c4","name":"","x":1350,"y":400,"wires":[]},{"id":"28595d4a.e31042","type":"looptimer","z":"7d07d4ce.4703c4","duration":"10","units":"Second","maxloops":"1","maxtimeout":"1","maxtimeoutunits":"Hour","name":"","x":840,"y":331,"wires":[["dc639f22.140a1"],["e73378f9.eae308"]]},{"id":"9bfd0c17.c343f8","type":"mqtt in","z":"7d07d4ce.4703c4","name":"","topic":"ledAlert","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":221.5,"y":268,"wires":[["9cf26629.3bdba8"]]},{"id":"24297f26.015d1","type":"debug","z":"7d07d4ce.4703c4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1106.5,"y":271,"wires":[]},{"id":"aedf5ff8.a496c","type":"inject","z":"7d07d4ce.4703c4","name":"","topic":"","payload":"Test Alert","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":227.90908813476562,"y":363.1818642616272,"wires":[["9cf26629.3bdba8"]]},{"id":"9cf26629.3bdba8","type":"function","z":"7d07d4ce.4703c4","name":"White on Red","func":"msg.color = \"white\";\nmsg.background = \"red\";\nmsg.speed = \"3\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":279,"wires":[["28595d4a.e31042"]]},{"id":"306d9303.e2b9bc","type":"rpi-sensehat out","z":"7d07d4ce.4703c4","name":"","x":1397.5,"y":685,"wires":[]},{"id":"897303cf.cfde98","type":"function","z":"7d07d4ce.4703c4","name":"White on Black","func":"msg.color = \"white\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":953.5,"y":622,"wires":[["306d9303.e2b9bc"]]},{"id":"801bb74.f046548","type":"delay","z":"7d07d4ce.4703c4","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1030.5,"y":464,"wires":[["897303cf.cfde98"]]},{"id":"e73378f9.eae308","type":"change","z":"7d07d4ce.4703c4","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"...","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935.5,"y":411,"wires":[["801bb74.f046548"]]},{"id":"1bef4f83.926","type":"function","z":"7d07d4ce.4703c4","name":"Red and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"3\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":1015,"y":758,"wires":[["306d9303.e2b9bc"]]},{"id":"ee9962b7.32e11","type":"inject","z":"7d07d4ce.4703c4","name":"","topic":"","payload":"Test","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":540,"wires":[["92b91a8c.a50b8"]]},{"id":"92b91a8c.a50b8","type":"mqtt out","z":"7d07d4ce.4703c4","name":"","topic":"ledMsg","qos":"","retain":"","broker":"a46128f9.a4344","x":530,"y":540,"wires":[]},{"id":"a46128f9.a4344","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]