sensehat/SH-ledMsg.json
[{"id":"b7b49bf8.abb29","type":"tab","label":"ledMsg","disabled":false,"info":""},{"id":"b989ad16.596ed","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":280,"y":460,"wires":[["4a7ce619.832e68"]]},{"id":"75193276.57f2e4","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":870,"y":460,"wires":[]},{"id":"1b88243b.ece274","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":560,"wires":[["4a7ce619.832e68"]]},{"id":"4a7ce619.832e68","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":460,"wires":[["75193276.57f2e4"]]},{"id":"6fdb6489.3ca04c","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":660,"wires":[["da8d327f.6dd68"]]},{"id":"da8d327f.6dd68","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"a46128f9.a4344","x":810,"y":660,"wires":[]},{"id":"b7e6d5ab.1fdb88","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":530,"y":280,"wires":[["195d9e1e.537ada"]]},{"id":"195d9e1e.537ada","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg","qos":"","retain":"","broker":"a46128f9.a4344","x":770,"y":280,"wires":[]},{"id":"7a3a1a64.2b0a8c","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":330,"y":120,"wires":[["1927393e.7d0587"]]},{"id":"5f6e2889.c6cc78","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":890,"y":120,"wires":[]},{"id":"1927393e.7d0587","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":120,"wires":[["5f6e2889.c6cc78"]]},{"id":"72eec4e4.c1be7c","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg will display a msg on the local dispay","info":"","x":210,"y":60,"wires":[]},{"id":"435253d7.1b960c","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg","info":"This will send 'Test ledMSG' to the local LED","x":270,"y":280,"wires":[]},{"id":"d5589f3a.959a1","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg/Tables/# will display a msg a specific table's display","info":"","x":260,"y":380,"wires":[]},{"id":"164ec1b5.500436","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":330,"y":200,"wires":[["1927393e.7d0587"]]},{"id":"f22d7d56.d49d88","type":"comment","z":"b7b49bf8.abb29","name":"Copy this flow to each Raspberry Pi and replace the Table number","info":"","x":740,"y":540,"wires":[]},{"id":"f4a117d7.eda698","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg/Tables/1","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":300,"y":660,"wires":[]},{"id":"23ae887c.1c084","type":"comment","z":"b7b49bf8.abb29","name":"This Flow requires MQTT running on a server at 10.0.10.100","info":"","x":1380,"y":260,"wires":[]},{"id":"6b9ecb60.968404","type":"mqtt in","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables","qos":"2","datatype":"auto","broker":"a46128f9.a4344","x":270,"y":880,"wires":[["805d833.bb8778"]]},{"id":"a46e82d8.aebda8","type":"rpi-sensehat out","z":"b7b49bf8.abb29","name":"","x":870,"y":880,"wires":[]},{"id":"3f0a0160.1f9e76","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test Message","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":290,"y":980,"wires":[["805d833.bb8778"]]},{"id":"805d833.bb8778","type":"function","z":"b7b49bf8.abb29","name":"Blue and Black","func":"msg.color = \"blue\";\nmsg.background = \"black\";\nmsg.speed = \"4\";\nmsg.payload = \"R180\\n\"+msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":880,"wires":[["a46e82d8.aebda8"]]},{"id":"78576c26.146e4c","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":570,"y":1080,"wires":[["99f2bf25.14df18"]]},{"id":"99f2bf25.14df18","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables","qos":"","retain":"","broker":"a46128f9.a4344","x":810,"y":1080,"wires":[]},{"id":"f8aeba9.b290048","type":"comment","z":"b7b49bf8.abb29","name":"ledMsg/Tables will display a msg on all displays","info":"","x":220,"y":800,"wires":[]},{"id":"fea5d773.c4b848","type":"comment","z":"b7b49bf8.abb29","name":"Press to test ledMsg/Tables","info":"This will send 'Test ledMSG/Tables' to the local LED","x":300,"y":1080,"wires":[]},{"id":"9f30dfd8.880dd8","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/1","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":460,"wires":[["fc58a91b.d9424"]]},{"id":"fc58a91b.d9424","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/1","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":460,"wires":[]},{"id":"fc048521.7ff5c8","type":"comment","z":"b7b49bf8.abb29","name":"Press to test specific ledMsg/Tables/","info":"This will send 'Test ledMSG/Tables/1' to the local LED","x":1520,"y":400,"wires":[]},{"id":"8e3cab89.286fa8","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/2","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":520,"wires":[["91acf9aa.814238"]]},{"id":"91acf9aa.814238","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/2","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":520,"wires":[]},{"id":"730595ce.42eaac","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/3","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":580,"wires":[["a18efbce.1d4aa"]]},{"id":"a18efbce.1d4aa","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/3","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":580,"wires":[]},{"id":"e44ea23d.644ab","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/4","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":640,"wires":[["b94dd0b9.12c268"]]},{"id":"b94dd0b9.12c268","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/4","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":640,"wires":[]},{"id":"1e2f503f.ce083","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/5","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":700,"wires":[["ab292841.33f6a"]]},{"id":"ab292841.33f6a","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/5","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":700,"wires":[]},{"id":"b036c01f.71bc58","type":"inject","z":"b7b49bf8.abb29","name":"","topic":"","payload":"Test ledMsg/tables/6","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":1410,"y":760,"wires":[["e8166dd2.83d18"]]},{"id":"e8166dd2.83d18","type":"mqtt out","z":"b7b49bf8.abb29","name":"","topic":"ledMsg/tables/6","qos":"","retain":"","broker":"a46128f9.a4344","x":1650,"y":760,"wires":[]},{"id":"a46128f9.a4344","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]