sensehat/SH-readSensors.json
[{"id":"ec149ec9.6de5e","type":"tab","label":"Read Sensors","disabled":false,"info":""},{"id":"2c28d13b.e62eee","type":"rpi-sensehat in","z":"ec149ec9.6de5e","name":"","motion":false,"env":true,"stick":false,"x":230,"y":251,"wires":[["4959d399.5d2374"]]},{"id":"74b42ba5.fc8c64","type":"debug","z":"ec149ec9.6de5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1024,"y":212,"wires":[]},{"id":"4959d399.5d2374","type":"delay","z":"ec149ec9.6de5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":523,"y":252,"wires":[["2bfed025.a596c8"]]},{"id":"2bfed025.a596c8","type":"change","z":"ec149ec9.6de5e","name":"Set Msg to Temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779,"y":244,"wires":[["74b42ba5.fc8c64","ab750a58.058a08"]]},{"id":"8b4d1670.4425b8","type":"rpi-sensehat in","z":"ec149ec9.6de5e","name":"","motion":false,"env":true,"stick":false,"x":237.27272033691406,"y":508.1817932128906,"wires":[["6a9152da.8578b4"]]},{"id":"98a7999c.fceef","type":"debug","z":"ec149ec9.6de5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1031.272720336914,"y":469.1817932128906,"wires":[]},{"id":"6a9152da.8578b4","type":"delay","z":"ec149ec9.6de5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":530.2727203369141,"y":509.1817932128906,"wires":[["10b91b4.36bd665"]]},{"id":"10b91b4.36bd665","type":"change","z":"ec149ec9.6de5e","name":"Set Msg to Humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":796.2727203369141,"y":501.1817932128906,"wires":[["98a7999c.fceef","2f23194.111c5e6"]]},{"id":"725f93bc.f54dbc","type":"rpi-sensehat in","z":"ec149ec9.6de5e","name":"","motion":false,"env":true,"stick":false,"x":220.90908813476562,"y":710.9090576171875,"wires":[["ff82e239.86deb"]]},{"id":"487add0b.509ee4","type":"debug","z":"ec149ec9.6de5e","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1014.9090881347656,"y":671.9090576171875,"wires":[]},{"id":"ff82e239.86deb","type":"delay","z":"ec149ec9.6de5e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"10","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":513.9090881347656,"y":711.9090576171875,"wires":[["9d9edfc5.9bd9c8"]]},{"id":"9d9edfc5.9bd9c8","type":"change","z":"ec149ec9.6de5e","name":"Set Msg to Pressure","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.pressure","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":779.9090881347656,"y":703.9090576171875,"wires":[["487add0b.509ee4","5e3405a3.6eacec"]]},{"id":"cd827bf.74b7908","type":"comment","z":"ec149ec9.6de5e","name":"Limit the amount of data sent to the display","info":"The Raspberry Pi constantly reads the sensors.\n\nThis is a good thing if you want to gragh something but can quickly become overweleming.\n\nThis limits it to only running evey minute.","x":550,"y":340,"wires":[]},{"id":"eb824acc.c95b48","type":"comment","z":"ec149ec9.6de5e","name":"Set the Msg to the Temp","info":"This function grabs the temp from the object that is sent by the Raspberry Pi.","x":807,"y":187,"wires":[]},{"id":"d3d1cf96.aac83","type":"comment","z":"ec149ec9.6de5e","name":"Select Environment events","info":"Select Environment events","x":279,"y":201,"wires":[]},{"id":"374c8d28.02ab5a","type":"comment","z":"ec149ec9.6de5e","name":"Send to the local Display","info":"","x":1086,"y":360,"wires":[]},{"id":"ab750a58.058a08","type":"mqtt out","z":"ec149ec9.6de5e","name":"","topic":"sensor/1/temp","qos":"","retain":"","broker":"afe6662f.ebdbc","x":1440,"y":240,"wires":[]},{"id":"2f23194.111c5e6","type":"mqtt out","z":"ec149ec9.6de5e","name":"","topic":"sensor/1/humidity","qos":"","retain":"","broker":"afe6662f.ebdbc","x":1450,"y":500,"wires":[]},{"id":"5e3405a3.6eacec","type":"mqtt out","z":"ec149ec9.6de5e","name":"","topic":"sensor/1/presure","qos":"","retain":"","broker":"afe6662f.ebdbc","x":1450,"y":700,"wires":[]},{"id":"9cb5184a.45f9b","type":"comment","z":"ec149ec9.6de5e","name":"Push vaules to sensor API","info":"","x":1470,"y":160,"wires":[]},{"id":"f182adef.c86178","type":"comment","z":"ec149ec9.6de5e","name":"Needs to be updated for every Table","info":"","x":1520,"y":360,"wires":[]},{"id":"b259b22a.e90f2","type":"comment","z":"ec149ec9.6de5e","name":"This reads the current sensor value and posts it to sensor/table#/temp...","info":"","x":590,"y":80,"wires":[]},{"id":"afe6662f.ebdbc","type":"mqtt-broker","z":"","name":"","broker":"10.0.10.100","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]